.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  color: white;
  padding: 10px 20px;
}

.logo {
  height: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-salir {
  background-color: #00aaff;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}